// main: ../active-measures.less

// ================================
// CARD COLORS
// ================================

@color-border: #191813;
@color-border-light: #4a4a4a;
@color-text-main: #333;
@color-text-heading: #191813;
@color-success: #0c960a;
@color-failure: rgb(196, 6, 6);
@color-card-background: rgba(0, 0, 0, 0.05);
@color-card-text-shadow: rgba(0, 0, 0, 0.3);
