// main: ../active-measures.less
@import "../system-vars/system-colors.less";

.active-measures.chat-card.stress-roll {
  .roll-header {
    border-bottom: 2px solid @color-border-light;
    margin-bottom: 8px;
    padding-bottom: 4px;

    h3 {
      margin: 0 0 5px 0;
      font-family: "Signika", sans-serif; /* Standard Foundry heading font */
      font-size: 1.3em;
      font-weight: bold;
      color: @color-text-heading;
      border-bottom: none; /* Removes Foundry's default h3 border */
    }
  }

  .roll-body {
    p {
      font-size: 1.1em;
      color: @color-text-main;
      margin: 0;
    }

    .roll-result {
      margin-top: 5px;
      font-size: 1.6em;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px @color-card-text-shadow;
      border-bottom: none;

      &.success {
        color: @color-success;
      }

      &.failure {
        color: @color-failure;
      }
    }
  }
}
