// main: ../active-measures.less

@import "../system-vars/system-colors.less";
@import "./card-stress-roll.less";

.active-measures.chat-card {
  background: @color-card-background;
  border: 2px solid @color-border;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0 0 5px @color-card-text-shadow;
  text-align: center;
  margin-bottom: 5px;
}