// main: ./active-measures.less
.active-measures.sheet.characterSheet {
    // class for the main sheet
    .sheet {
        width: 500px;
        height: 600px;
    };
    // class for second sheet
    .sheet2 {
        width: 480px;
        height: 480px;
    };
}