<div class="tab {{#if (eq tabGroups.primary 'level')}}active{{/if}}" data-group="primary" data-tab="level">
    <div class="form-group flexrow">
        <label>{{localize "AM.NPCLevel"}}</label>
        <input type="number" name="system.level" value="{{systemData.level}}" style="max-width: 50px;"/>
    </div>
</div>
